version: '1.0.0'
name: storage
services:
  minio:
    image: minio/minio:RELEASE.2025-04-03T14-56-28Z
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: adminMinio
      MINIO_ROOT_PASSWORD: adminMinio
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - knowledgebase

volumes:
  minio_data:
    driver: local

networks:
  knowledgebase:
    external: true